{% extends "base.html" %}
{% block content %}
    <main>
        <h1>{{ recipe.title }}</h1>
        <img src="{{ recipe.picture }}" height="200" />
        <div>4.3 stars</div>
        <h3>
            <a class="link" href="{% url 'edit_recipe' recipe.id %}">Edit</a>
        </h3>
        <p>{{ recipe.description }}</p>
        <div>{{ recipe.created_on | date:"F j Y" }}</div>
        <h2>
            <div>Ingredients</div>
        </h2>
        <table>
            <thead>
                <tr>
                    <td>Amount</td>
                    <td>Food item</td>
                </tr>
                <tbody>
                    {% for ingredient in recipe.ingredients.all %}
                        <tr>
                            <td>{{ ingredient.amount }}</td>
                            <td>{{ ingredient.food_item }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
        <h2>
            <div>Steps</div>
        </h2>
        <ol>
            {% for step in recipe.steps.all %}<li>{{ step.instruction }}</li>{% endfor %}
        </ol>
    </main>
{% endblock content %}
