{% extends "base.html" %}
{% block content %}
  <body>
    <h1>Edit {{ recipe.title }}</h1>
    <main>
      <div class="forms">
        <form method="post">
          {% csrf_token %} {{ recipe_form.as_p }}
          <button>Edit</button>
        </form>
      </div>
    </main>
  </body>
{% endblock content %}
