{% extends "base.html" %}
{% block loggedin %}
  {% if user.is_authenticated == True %}
    <a class="link" href="{% url 'create_recipe' %}">Create Recipe</a>
    <a class="link" href="{% url 'my_recipe_list' %}">My Recipes</a>
    <p>Hello {{ user.username }}</p>
    <a class="link" href="{% url "user_logout" %}">Log Out</a>
  {% else %}
    <a class="link" href="{% url "user_login" %}">Log in</a>
    <a class="link" href="{% url "signup" %}">Signup</a>
  {% endif %}
{% endblock loggedin %}
{% block content %}
  <h1>Scrumptious Recipes</h1>
  <h2>All the food that's fit to eat</h2>
  <div class="recipe-list">
    {% for recipe in recipe_list %}
      <div style="background-color:{% cycle '' '' 'blue' %}">
        <h3>
          <a class="link" href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
        </h3>
        <img src="{{ recipe.picture }}" height="200" />
        <div>4.3 stars</div>
      </div>
    {% empty %}
      <p>There are no recipes</p>
    {% endfor %}
  </div>
{% endblock content %}
