html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0px;
  padding: 0px;
}
main {
  padding: 16px;
  margin-bottom: 16px;
}
footer {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 0px;
  padding-right: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightsalmon;
}
img {
  height: 200px;
}
nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: baseline;
  padding: 16px;
  margin-bottom: 16px;
  gap: 2em;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  background-color: lightgreen;
  padding: 16px;
}
.link {
  text-decoration: none;
}
.link:hover {
  color: red;
  text-decoration: none;
}
.recipe-list {
  /* display: flex;
    list-style-type: none;
    justify-content: last baseline;
    padding: 16px;
    margin-bottom: 16px;
    gap: 1em;
    flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  justify-items: left;
}
@media (width < 890px) {
  .recipe-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (width < 660px) {
  .recipe-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (width < 450px) {
  .recipe-list {
    grid-template-columns: 1fr;
  }
}
tr:nth-child(2n + 2) {
  background-color: lightgray;
}
thead {
  font-weight: bold;
}
.forms p {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: left;
  justify-self: right;
}
.forms p textarea {
  width: 300px;
  height: 200px;
}
