{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/recipes.css" %}" />
    <title>Scrumptious Recipes</title>
  </head>
  <body>
    <header>
      <nav>
        <a class="link" href="{% url 'list_recipes' %}">Main Page</a>
        {% comment %} {% if user.is_authenticated == True %}
          <a class="link" href="{% url 'create_recipe' %}">Create Recipe</a>
          <a class="link" href="{% url 'my_recipe_list' %}">My Recipes</a>
        {% endif %} {% endcomment %}
        {% block loggedin %}
        {% endblock loggedin %}
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
  </body>
  <footer>
    <div>Made with love by Scrumptious Recipes</div>
  </footer>
</html>
